aws_region      = "eu-west-2"
project_name    = "ecs-fargate-readiness-lab"
repository_name = "ecs-fargate-readiness-lab"
task_cpu        = "256"
task_memory     = "512"
image_tag       = "0.1.0"
app_environment = "dev"
build_id        = "manual"
build_date      = "unknown"
